SQUARESPACE_KEY=your_squarespace_api_key_here
SQUARE_TOKEN=your_square_access_token_here
SQUARE_LOCATION_ID=your_location_id_here
GOOGLE_SHEET_ID=your_spreadsheet_id_here
GOOGLE_APPLICATION_CREDENTIALS=service_account.json
VENMO_ACCESS_TOKEN=your_token_here